/* <!--  Author: Halil Emre Yildiz - </> by @JahnStar --> */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Courgette);
h1 {
	color: #f34662;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 17px;
}
h2 {
    color: #b5b5b5;
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 18px;
}
p {
	display: block;
    text-align: center;
    font-size: 1.2em;
    margin: 25px 0px 50px 0px;
    color: #656565;
}
a {
	text-decoration:none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
a:active, a:focus {
 /* background: #e62142; */
	font-size: 125%;
}
i {
	color: #ffffff;
	display: block;
	text-align: center;
	width: 12%;
}
body {
	/* overflow: hidden; */
	align-items: center;
	background: radial-gradient(at center center, #ffffff -10%, #f34662 125%);
	display: flex;
	height: 100vh;
	/* background: url(page-bg.png) repeat; */
	background-size: cover;
	justify-content: center;
	font-family: 'Courgette', cursive;
}
.card {
	/* overflow: hidden; */
	align-items: center;
	background: #ffffff;
	border-radius: 25px;
	box-shadow: 0px 0px 15px #000000;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 27em;
	border-top: 5px solid #f34662;
	border-bottom: 6px solid #f34662;
	padding: 40px 40px 20px 40px;
}
.button {
	background: #f34662;
    color: white;
    padding: 15px 0px 10px 0px !important;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.2s;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    border: none;
    font-family: 'Courgette', cursive;
    outline: 0;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}
.circle {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	color: #000000;
    background: #efefef;
	border: 5px solid #f34662;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 50%;	
	margin-top: -100px;
	font-size: 12px;
}
h1 input {
	color: #f34662;
}
p textarea {
	padding-top: 10px;
	color: #656565;
}
input, textarea, #templates {
	width: 100%;
	/* border: 0px; */
	border-radius: 5px;
	font-size: 1.0em;
	font-family: 'Courgette', cursive;
	text-align: center;
	overflow:hidden
}
#template {
	padding-top: 10px; max-width: 250px;
}
#mode {	
	display: inline-block;
	box-shadow: 0px 0px 10px #000000a1;
	border-radius: 50%;
	background: #f34662;
	color: white;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 16px;
	right: 18px;
	font-size: 1.5em;
	text-align: center;
	line-height: 50px;
}
#developer {
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 105px;
	height: 15px;
	background-color: #35394a8c;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	padding:5px;
	font-size: 12px;
	/* box-shadow: 0px 0px 5px #bbbbbb; */
	font-family: Montserrat,Lato,LatoExtended,sans-serif;
}
.a2a_mini_services, .a2a_more { display: auto !important; }
.a2a_menu, .a2a_menu_find_container { border-radius: 10px !important; }
#my_centered_buttons { display: flex; justify-content: center; }
.a2a_default_style .a2a_img_text { display: none !important; }
[type='color'] {
	appearance: none;
    margin-top: 15px;
    margin-bottom: -35px;
    padding: 10px 50px;
    width: 25px;
    height: 25px;
    /* border: none; */
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
#alert {
	display: flex;
	background: #fff1f3;
	color: #f34662;
	position: fixed;
	z-index: 999;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 15px;
	padding: 10px 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #000000;
	text-align: center;
}
#suprise {
	width: 20px; height: 20px;
}